[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot

[submodule "packages"]
	path = packages
	url = https://gist.github.com/9c0590cbef82181ea508d9fe9d7dd07e.git

[submodule "Vundle.vim"]
	path = Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
